# Gradle
.gradle/
build/

# IntelliJ Idea
.idea/*
!.idea/inspectionProfiles
!.idea/annotations
# for some reason, entrypoints are stored here, not in the inspection profile
# https://youtrack.jetbrains.com/issue/IDEA-84055
!.idea/misc.xml
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/Portal_Cubed.xml

# Eclipse
*.launch
workspace/

# Visual Studio Code
.settings/
.vscode/
bin/
.classpath
.project

# macOS
*.DS_Store

# Minecraft
run/

# Misc
resources_template/
*.ini
