# Gradle
.gradle/
build/
out/
classes/

# Quilt Loom
run/

# Eclipse
*.launch

# IntelliJ Idea
.idea/*
!.idea/inspectionProfiles
# for some reason, entrypoints are stored here, not in the inspection profile
# https://youtrack.jetbrains.com/issue/IDEA-84055
!.idea/misc.xml
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/Portal_Cubed.xml
*.iml
*.ipr
*.iws

# Visual Studio Code
.settings/
.vscode/
bin/
.classpath
.project

# Eclipse JDT LS
workspace/

# macOS
*.DS_Store
/resources_template/
